<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
    </head>
    <body>
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum repudiandae nesciunt maiores suscipit molestias ipsa? Dolorem id nulla ab ratione dolor, voluptatem doloribus aliquid. Similique in ad nulla. Explicabo magni tempore assumenda necessitatibus adipisci in laboriosam ipsam ut, modi nulla, numquam aspernatur eum voluptas exercitationem dolores cumque sunt voluptatem molestias!</p>
    </body>
</html>